name: Android APK from full flutter branch

on:
  push:
    branches: Full-flutter-App
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-debug-apk:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Flutter depedencies
        run: flutter pub get

      - name: Build debug APK
        env:
          COARSE_TOKEN: ${{ secrets.COARSE_TOKEN }}
          PUBLISHABLE_KEY: ${{ secrets.PUBLISHABLE_KEY }}
        run: flutter build apk --debug --dart-define=COARSE_TOKEN=$COARSE_TOKEN --dart-define=PUBLISHABLE_KEY=$PUBLISHABLE_KEY

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-debug-apk
          path: build/app/outputs/flutter-apk/app-debug.apk
          if-no-files-found: error


      - name: Get version from pubspec.yaml
        id: get_version
        run: |
          VERSION=$(grep '^version:' pubspec.yaml | sed 's/version: //; s/+.*//')
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Rename APK with tag name
        run: |
          APK_NAME="silvernote-${{ steps.get_latest_tag.outputs.TAG }}-android-debug.apk"
          mv build/app/outputs/flutter-apk/app-debug.apk build/app/outputs/flutter-apk/$APK_NAME
        env:
          TAG: ${{ steps.get_latest_tag.outputs.TAG }}


      - name: Get latest tag
        id: get_latest_tag
        run: |
          TAG=$(git tag --sort=-v:refname | grep -E '^v[0-9]+\.[0-9]+\.[0-9]+$' | head -n1)
          echo "latest tag: $TAG"
          echo "TAG=$TAG" >> $GITHUB_OUTPUT

      - name: Bump patch version
        id: bump_version
        run: |
          if [ -z "${{ steps.get_latest_tag.outputs.TAG }}" ]; then
            NEW_VERSION="0.0.1"
          else
            TAG=${{ steps.get_latest_tag.outputs.TAG }}
            VERSION=${TAG#v}
            IFS='.' read -r MAJOR MINOR PATCH <<< "$VERSION"
            PATCH=$((PATCH + 1))
            NEW_VERSION="$MAJOR.$MINOR.$PATCH"
          fi
          echo "NEW_VERSION=$NEW_VERSION" >> $GITHUB_OUTPUT

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.get_latest_tag.outputs.TAG }}
          name: Silvernote (${ { steps.get_latest_tag.outputs.TAG } })
          body: |
            Nouvelle version de Silvernote.
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload build to Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.get_latest_tag.outputs.TAG }}
          files: build/app/outputs/flutter-apk/silvernote-${{ steps.get_latest_tag.outputs.TAG }}-android-debug.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}